<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0 ml-2">
      <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none fs-5 campground-title">
        Campgrounds
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/campgrounds" class="nav-link px-2" routerLinkActive="active">Campgrounds</a></li>
      <li><a routerLink="/add-campground" class="nav-link px-2" routerLinkActive="active">Add Campground</a></li>
      <li><a routerLink="#" class="nav-link px-2" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="#" class="nav-link px-2" routerLinkActive="active">About</a></li>
    </ul>

    <div class="col-md-3 text-end logins">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>